configuration {
	modi: "window,run,ssh";
	width: 40;
	lines: 10;
	columns: 1;
	font: "Hack 15";
	padding: 10;
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: "Search";

}

* {
    background:    #212B30ff;
    background-alt:    #263238ff;
    foreground:    #C4C7C5ff;
    border:    #4DD0E1ff;
    selected:    #4DD0E1ff;
    urgent:    #EC407Aff;
	logo:    #EC407Aff;
	on:    #61C766ff;
	off:    #EC7875ff;
}
